.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #bc6c25;
  padding: 10px;
}
.search_inp {
  padding: 8px;
  border: none;
  border-radius: 12px;
  outline: none;
}
.search_inp:focus {
  transition: 0.3s ease;
  background-color: #669bbc;
  color: white;
}
